.container {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr auto;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 40px;
}

.footerContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}